.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.calculadora {
    display: grid;
    height: 500px;
    width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas: "visor" "area-butoes";
}

.container-botoes {
    grid-area: area-butoes;
    display: grid;
    width: 100%;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "operacoes" "numeros";
}

#area-numeros {
    grid-area: numeros;
}

#area-operacoes {
    grid-area: ;
}