/* seletor que vai corresponder ao que tem no html */

/* .class button */

/* definir os estilos */

/* margin, background, font-size ... */

.container {
    /*Determina a largura que sera a calculadora, possibilitando a variacao da largura*/
    margin: 20px auto;
    max-width: 1200px;
}

.calculadora {
    /*Determina a altura, largura, cor de fundo, margem regulavel, o tipo de display e 
                        como sera organizado*/
    width: 400px;
    height: 600px;
    /* background-color: #ccc; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#area-numeros {
    /*Determina que os botoes irao ocupar todo o espaco horizontalmente, o tipo de display,
                        e como ira ficar organizado os botoes*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#area-operacoes {
    /*Determina area que os botoes de operacao irao ocupar horizontalmente e tipo de 
                        display e como ira ficar organizado */
    display: flex;
    flex-direction: column;
    min-width: 20%;
}

.linha {
    display: flex;
    flex-grow: 1;
}